In [1]:
def add(x,y):
    r = x + y
    return r

In [2]:
add(10,20)

30

In [4]:
def fn2(x,y):
    i = x + y
    return i

In [8]:
def fn3(x,*y):  # 언페킹 사용
    print(x)
    print(y)

a = (10,20,30)
b = 40

fn3(a,b)

(10, 20, 30)
(40,)

In [15]:
x = {'name' : 'jimin', 'addr' : 'seoul'}

def info2(name, addr):
    print(name,addr)

In [19]:
info2(*x)

name addr

In [28]:
def info3 (**wkargs):
    print(wkargs)

In [29]:
info3 = {'name' : 'jimin', 'addr' : 'seoul','age':25}

In [32]:
def info(name, age, addr='제주도'):
    print(name, age, addr) # 변수의 대한 값을 null로 받을 경우 변수명 = defoult값을 지정할 수 있다.

In [34]:
info('홍길동',20)

홍길동 20 제주도